In [1]:
import csv
import pandas as pd

In [2]:
df = pd.read_csv(r'.\Cultivos.csv',sep=';',header=0,skiprows=1)\
  .dropna().drop(columns=['Cosechas-año/Distancia'])
df.rename(columns={'Tipo': 'tipo',\
  'Cultivo':'cultivo',
  'Min':'t_min',
  'Ideal':'t_opt',
  'Max':'t_max',
  'Cosecha 1 (días)':'germinacion_1',
  'Cosecha n (días)':'germinacion_n',
  'Distancia (cm)':'distancia',
  'Primera cosecha (mes)':'primera_cosecha',
  'N cosecha/año':'n_cosechas',
  'Distancia/Cosechas-año':'distanciaXcosechaAnual'},inplace=True)
df.head()

,tipo,cultivo,t_min,t_opt,t_max,germinacion_1,germinacion_n,distancia,primera_cosecha,n_cosechas,distanciaXcosechaAnual
0,Verduras,Acelgas,15.0,26.0,33.0,65.0,15.0,8.0,2.2,24.3,0.328767
1,Verduras,Ajos,0.0,19.0,25.0,135.0,135.0,15.0,4.5,2.7,5.547945
2,Verduras,Alcachofas,7.0,18.0,29.0,90.0,45.0,90.0,3.0,8.1,11.095890
3,Verduras,Berenjenas,23.0,25.0,30.0,90.0,60.0,60.0,3.0,6.1,9.863014
4,Verduras,Betabeles,10.0,22.5,30.0,120.0,90.0,30.0,4.0,4.1,7.397260

In [4]:
with open(r'.\Data.csv','w+',encoding='utf-8') as file:
  txt = 'content:Cultivos\n'
  txt += df.to_csv(index=False,encoding='utf-8',escapechar='\n')
  txt += '\n'
  file.write(txt)

In [5]:
# for model in ['Cultivos.csv','Municipios.csv']:
df = pd.read_csv(r'.\Municipios.csv',sep=';',skiprows=1,usecols=[1,2,3,4,5]).dropna()
df.rename(columns={'Municipio':'municipio',\
'Departamento':'departamento',
'Min':'t_min',
'Med':'t_avg',
'Max':'t_max'},inplace=True)
df.head()

      municipio departamento  t_min  t_avg  t_max
0      Planadas       Tolima  -10.0   22.5   31.0
1     Alpujarra       Tolima    0.0    8.0   12.0
2     Rioblanco       Tolima    5.0   22.0   29.0
3    Anzoategui       Tolima    7.0   13.0   19.0
4  Roncesvalles       Tolima   10.0   15.0   22.0

In [6]:

with open(r'.\Data.csv','a',encoding='utf-8') as file:
  
  txt = 'content:Municipios\n'
  txt += df.to_csv(index=False,encoding='utf-8',escapechar='\n')
  txt += '\n'
  file.write(txt)